* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    font-family: '微软雅黑';
}

#container {
    width: 980px;
    height: 1386px;
    padding: 0 44px;
    margin: 0 auto;
    border: 1px solid;
}

#header {
    width: 100%;
    height: 61px;
    border-bottom: 2px solid #938e8c;

    position: relative;
}

.header-item {
    position: absolute;
    text-align: left;
}

.header-item:first-child {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
    padding: 0;
    color: #fff;

    
    left: 0;
    bottom: 0;
}

.header-item:first-child span {
    display: block;

    position: absolute;
    left: 10px;
    bottom: 10px;
}

.header-item:last-child {
    right: 0;
    bottom: 0;
    padding-bottom: 0px;

    color: #d45d5c;
}

#top {
    width: 100%;
    height: 310px;
    margin-top: 35px;
}

.top-left {
    width: 641px;
    height: 301px;
    background: url("../images/top.jpg") 0 0 no-repeat;
    background-size: cover;

    float: left;
    position: relative;
}

.top-right {
    width: 203px;
    height: 301px;

    float: right;
}

.mask {
    width: 191px;
    height: 301px;

    position: absolute;
    top: 0;
    opacity: 0.7;
}

.mask:first-child {
    background-color: rgb(151, 191, 169);

    left: 0;
}

.mask:last-child {
    background-color: rgb(221, 180, 189);

    right: 0;
}

#middle {
    width: 641px;
    height: 170px;
    margin-top:　42px;

    display: table;
    border-collapse: separate;
    border-spacing: 40px;
}

.article {
    display: table-cell;
    height: 170px;
    overflow: hidden;

    font-size: 12px;
    line-height: 16px;
    font-family: "宋体";
}

.article h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.what {
    width: 230px;
}

.what h3 {
    
    color: #418c59;
}

.when {
    width: 205px;
}

.when h3 {
    color: #d2994f;
}

.how {
    width: 155px; 

    position: relative;
}

.how h3 {
    color: #cc7680;
}
   

.article h3 {
    font-size: 16px;
    font-family: '微软雅黑';
    font-weight: bold;
    text-decoration: underline;
}

.per {
    font-size: 12px;
    line-height: 16px;
    font-family: '微软雅黑';

    position: absolute;
    bottom: 0;
}

.per i {
    color: #cd4a48;
    opacity: 0.7;
}

.bottom-left {
    width: 415px;
    height: 458px;
}

.bottom-left p {
    height: 155px;
    font-size: 42px;
    font-weight: bold;
    font-family: "黑体";
    color: #11456b;
    line-height: 46px;
    border-bottom: 2px solid;
}

.bottom-left p .the {
    font-size: 72px;
    font-style: italic;
    color: #f5e327;

}

#zn-cn {
    font-size: 33px;
}


