* {
    margin: 0;
    padding: 0;
}

/*包裹曾*/
#wrap {
    width: 100%;
    min-width: 1280px;
    overflow: hidden;
}

/*header start*/
#header {
    height: 55px;
}

.logo {
    font-size: 21px;
    font-weight: bold;

    margin-left: 60px;
    float: left;
}

.logo img, .logo span {
    line-height: 55px;
    vertical-align: middle;
}

.logo span {
    padding-left: 10px;
}

.nav {
    height: 100%;
    font-size: 14px;
    font-family: "微软雅黑";
    margin-right: 68px;

    float: right;
}

.nav li {
    display: inline-block;
    list-style: none;
    line-height: 55px;
    margin-top: -5px;
    padding: 0 10px;
}

.nav li.nav-li:hover {
    border-bottom: 5px solid red;
}

.nav li + li {
    margin-left: 28px;
}

.nav li a {
    color: #000;
    text-decoration: none;
}

.log-in {
    display: table;
}

.log-in img {
    margin-top: 15px;
    margin-right: 5px;
}
/*header end*/

#time-life {
    width: 100%;
    height: 690px;
    background-image: url("../images/time-life.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "微软雅黑";

    position: relative;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.enjoy-life {
    position: absolute;
    left: 125px;
    bottom: 205px;
    z-index: 5;
}

.enjoy-life h1 {
    font-size: 60px;
    font-weight: normal;
}

.enjoy-life p {
    font-size: 21px;
    line-height: 37px;
}

.btn {
    display: block;
    width: 330px;
    height: 65px;
    background-color: red;
    margin-top: 57px;
    font-size: 30px;
    line-height: 65px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

#intro {
    width: 100%;
    height: 250px;

    display: table;
}

#intro p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
#intro p img {
    margin-bottom: 48px;
}

/*abou-world*/
#about-world {
    width: 100%;
    height: 360px;
    background-color: rgb(237, 237, 237);
    text-align: center;
}

#about-world img {
    width: 90px;
    height: 90px;
    margin-top: 90px;
}

#about-world p {
    font-size: 53.6px;
    line-height: 53.6px;
    font-family: "黑体";
    color: rgb(160,160,160);
    margin-top: 50px;
}
/*about-world end*/

#look-up {
    width: 100%;
    height: 340px;
    background-image: url("../images/look-up.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    font-family: "黑体";

    position: relative;
}

.over-mask {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

#look-up h3 {
    font-size: 21px;
    line-height: 41.88px;
    font-weight: normal;
    margin-top: 55px;
}

#look-up p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 31px;
}

#look-up form {
    width: 1030px;
    height: 40px;
    margin: 0 auto;
}

#look-up form select {
    width: 235px;
    height: 40px;
    margin-top: 35px;
}

.search {
    display: inline-block;
    width: 235px;
    height: 40px;
    background-color: red;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}

/*shanghai activety start*/
#shanghai {
    width: 990px;
    margin: 100px auto 115px;
    text-align: center;
    font-family: "微软雅黑";
    overflow: hidden;
}

#shanghai > li {
    width: 220px;
    float: left;
    list-style: none;
}

#shanghai > li + li {
    margin-left: 35px;
}

.normal h4,
.special h4 {
    font-size: 14px;
    font-weight: normal;
}

.normal h4 {
    margin-top: 15px;
}

.special h4 {
    letter-spacing: 25px;
}

.normal p,
.special p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 300;
    opacity: 0.7;
}


#shanghai > li > img {
    width: 205px;
    height: 315px;
    padding: 10px 5px;
    box-shadow: 0 0 5px #ccc;
}
/*shanghai end*/

#new-world-age {
    width: 100%;
    height: 1085px;
    clear: both;
}

.new-world,
.new-age {
    width: 100%;

    position: relative;
}

.new-world {
    height: 565px;
}

.new-age {
    height: 520px;
}

.new-world-left,
.new-world-right {
    height: 565px;
    float: left;
}

.new-world-left {
    width: 66.666%;
    background-image: url("../images/new-world.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.new-world-right {
    width: 33.333%;
    font-size: 12px;
    line-height: 30px;
    font-family: "微软雅黑";
    color: rgb(170, 170, 170);
}

.new-world-right h3 {
    font-size: 21px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin: 135px auto 30px;
}

.zero1 {
    color: red;
}

.new-world-right p
 {
    width: 24em;
    margin: 0 auto;
}

.more-specific {
    display: block;
    width: 105px;
    height: 33px;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: red;
    border: 1px solid red;
    margin: 40px auto 33px;
    text-decoration: none;
}

.dots {
    width: 65px;
    height: 10px;
    margin: 0 auto;
    padding: 0 20px;
}

.dots li {
    list-style: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;

    float: left;
}

.dots li:first-child {
    background-color: #ccc;
}

.dots li + li {
    margin-left: 17.5px;
}

.love-life {
    font-size: 18px;
    line-height: 1.2888;
    color: #fff;
    font-weight: normal;
    width: 165px;
    height: 50px;
    margin: 175px auto 0;
    text-align: center;
}

.love-redbg {
    border: 1px solid #fff;
    color: #fff;
}

.love-life + .more-specific {
    width: 165px;
}

.love-life-right {
    color: red;
}

.new-age-item {
    width: 33.333%;
    height: 520px;

    float: left;
}

.new-age-left {
    background-color: red;
}

.new-age-center {
    background-color: #fff;

    position: relative;
}

.new-age-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    border-right: none;

    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -15px;
}

.new-age-right {
    background-image: url("../images/new-age.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*volunteer start*/
#volunteer {
    width: 1000px;
    margin: 118px auto 165px;
    text-align: center;
    overflow: hidden;
}

.bec-vol {
    margin-bottom: 30px;
}

.vol-bottom {
    margin-top: 110px;
    overflow: hidden;
}

.vol-left {
    width: 290px;
    height: 285px;
    text-align: left;
    font-size: 12px;
    font-family: "微软雅黑";

    float: left;
}

.vol-left a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: "宋体";
    line-height: 14px;
    vertical-align: middle;
}

.case h4 {
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 600;
}

.more {
    text-align: right;
    margin-top: 5px;
}

.vol-form {
    width: 640px;
    height: 290px;
    font-size: 12px;
    font-family: "微软雅黑";

    float: right;
}

.vol-form input {
    width: 293px;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-family: "微软雅黑";
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .75);
    border: none;
}

.input-right {
    margin-left: 20px;
}

.vol-form textarea {
    display: block;
    width: 640px;
    height: 125px;
    background-color: rgb(237, 237, 237);
    font-family: "微软雅黑";
    padding-left: 15px;
    border-radius: 3px;
}

.vol-form input[type='submit'] {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.more span {
    display: inline-block;
    transform: rotate(90deg);
}

#contact-us {
    width: 100%;
    height: 360px;
    background-color: rgb(50, 53, 60);
    color: #fff;
    font-family: "微软雅黑";
    text-align: center;
    border-top: 1px solid transparent;
    margin-top: -1px; 

    position: relative;
}

#contact-us h3 {
    margin-top: 90px;
    font-size: 21px;
    line-height: 41.8px;
    font-weight: normal;
}

#contact-us p {
    font-size: 12px;
    line-height: 18px;
}

.email {
    width: 510px;
    height: 40px;
    margin: 30px auto 35px;
}

#contact-us a {
    text-decoration: none;
}

.email input:last-child {
    box-sizing: border-box;
    width: 80px;
    background-color: rgb(114, 114, 120);
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
    cursor: pointer;
}

.email input {
    height: 40px;
    border: none;
    float: left;
}

.email input:first-child {
    width: 390px;
    padding-left: 15px;
}

.con-img {
    margin-left: 28px;
}

#footer {
    width: 100%;
    height: 60px;
    background-color: rgb(47, 48, 57);
    color: #fff;
    font-size: 12px;

    position: relative;
}

#footer p {
    position: absolute;
    bottom: 15px;
}

.footer-left {
    left: 100px;
}

.footer-right {
    right: 100px;
}

.footer-right a {
    text-decoration: none;
    color: #fff;
}
